/*Navbar*/
.logoutBrand{
  margin-top: 10px;
}

.navbar-brand  {
  font-size: 2.5em;
}

.navbar-default .navbar-brand  {
  color: black;
}

.navbar {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #fdd500;
}

/*Landing Page Hero*/
.hero {
  width: 100%;
  height: 450px;
  background: url(../img/heroimg.jpg) no-repeat center;
  margin-top: 0px;
}

.hero h2 {
  color: white;
  text-align: center;
  font-size: 2.5em;
}

.hero-btns {
  text-align: center;
  padding: 20px;
}

.hero-btns h2 {
  text-shadow: 1px 1px black;
  margin-top: 15vh;
  padding: 0;
  font-size: 3.5em;
}
.hero-btns a {
  margin-top: 5vh;
}

.btn-lg {
  width: 150px;
  margin-right: 20px;
}

/*Landing Page Explain Section*/
.explain-box {
  width: 100%;
  height: 450px;
}

.homeFooter {
  background-color: black;
  height: 150px;
  color: white;
}


/*Bootstrap Overrides*/
.btn-primary {
  background-color: black;
  border: none;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #fdd500;
  border: none;
}

.btn-success {
  background-color: #fdd500;
  border: none;
  border-radius: 0;
}

.btn-success:hover {
  background-color: black;
  border: none;
}
